/package.json
/package-lock.json
/public/javascripts/bootstrap.min.js
/public/javascripts/datatables.min.js
/public/javascripts/jquery.js
/public/images/
/public/stylesheets/background_image.png
/public/stylesheets/bootstrap.min.css
/public/stylesheets/datatables.min.css
/public/stylesheets/font-awesome.min.css
/public/stylesheets/main_bckgrnd.jpg
/public/stylesheets/mdb.min.css
/public/stylesheets/style.css
